.order-confirmation {
    display: flex;
    align-items: center;
    border-radius: 0.75rem;
    padding: 0.5rem 0.825rem;
    font-size: 0.75rem;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 1.25rem;
  }
  
  .pending {
    background-color: #ef4444;
  }
  
  .complete {
    background-color: #047857;
  }