.wrapper {
  display: flex;
  flex-direction: column;
  height: 25%;
  padding-top: 8rem;
}

.title {
  font-size: 2.5rem;
  margin-bottom: 1.25rem;
}


@media (width >= 768px) {
  .wrapper {
    padding-top: 13rem;
  }
}
