.skeleton {
  background-color: #e5e5e5;
  animation: pulse 1s infinite;
}

.label {
  text-rendering: optimizeLegibility;
  font-weight: bold;
  font-size: 1.15rem;
}

@keyframes pulse {
  0%,
  100% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
}
